
.m-header-social {

  position: static;
  top: 40px;
  left: $mobile-space;
  z-index: 2;
 
    @include respond-to('medium') 
    {
    position: static;
    margin-right: 20px;
    }
  
    a {
    margin-left: 20px;
    font-size: 4.125rem;
    &:first-child {
    margin-left: 0;
}
}
}
