
.m-header-social {
  
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden

  position: relative;
  top: 40px;
  left: $mobile-space;
  z-index: 2;
 
    @include respond-to('medium') 
    {
    position: relative;
    margin-right: 20px;
    }
  
    a {
    margin-left: 20px;
    font-size: 4.125rem;
    &:first-child {
    margin-left: 0;
}
}
}
}
