
.m-header-social {
  position: static;
  left: $mobile-space;
  top: 400px;
  z-index: 6;

    @include respond-to('medium') 
    {
    position: static;
    margin-right: 20px;
    }

    a {
    margin-left: 20px;
    font-size: 1.125rem;
    &:first-child {
    margin-left: 0;
}
}
}
